{% extends "base.html.twig" %}

{% block body %}

    <h1 class="text-center mt-4 mb-4">Crée une Categorie</h1>

{{ form_start(form) }}

        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }}

{% endblock %}
